node-red.json
[{"id":"f31c3caf13f431a2","type":"tab","label":"流程1","disabled":false,"info":""},{"id":"587b051ae3c2fef4","type":"http in","z":"f31c3caf13f431a2","name":"","url":"/216HW5","method":"get","upload":false,"swaggerDoc":"","x":190,"y":4800,"wires":[["85aed72030bf612f"]]},{"id":"85aed72030bf612f","type":"function","z":"f31c3caf13f431a2","name":"function 1","func":"var ESP8266 = {};\n\nESP8266.IP_address = [\n    \"192.168.1.199\", \"192.168.1.201\", \"192.168.1.202\"\n]\n\nESP8266.count_Num = [\n    30, 25, 17\n]\nmsg.payload = [ESP8266];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":4780,"wires":[["627c2ae4cf04eee8","5aadd6293cec694a","3c6fb15263beec99"]]},{"id":"627c2ae4cf04eee8","type":"http response","z":"f31c3caf13f431a2","name":"","statusCode":"","headers":{},"x":670,"y":4880,"wires":[]},{"id":"5aadd6293cec694a","type":"debug","z":"f31c3caf13f431a2","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":600,"y":4980,"wires":[]},{"id":"a970029546486623","type":"debug","z":"f31c3caf13f431a2","name":"debug 7","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1340,"y":1020,"wires":[]},{"id":"9da11550eef97153","type":"json","z":"f31c3caf13f431a2","name":"","property":"payload","action":"obj","pretty":false,"x":1410,"y":800,"wires":[["46c8dc2c6e1f73d7","43395b5377d239be"]]},{"id":"46c8dc2c6e1f73d7","type":"function","z":"f31c3caf13f431a2","name":"jsonParse","func":"const masters = Array.from(new Set(msg.payload.rawData.map(x => x.ip)));\nconst masterData = new Map();\n\nmsg.payload.rawData.forEach((item, index) => {\n    masters.forEach(ip => {\n        let valueY = null;\n        // If I'm master or next master is me (Dealing with discontinuity)\n        if ((index + 1 < msg.payload.rawData.length && msg.payload.rawData[index + 1].ip == ip) || ip === item.ip) {\n            valueY = item.value;\n        }\n        if (masterData.has(ip)) {\n            masterData.get(ip).push({ x: index, y: valueY });\n        } else {\n            masterData.set(ip, [{ x: index, y: valueY }]);\n        }\n    });\n});\n\nnode.warn(masterData);\nmsg.payload = [\n    {\n        \"series\": masters,\n        \"data\": Array.from(masterData.values()),\n        \"labels\": [\"\"]\n    }\n];\n/*\n//Line chart format:\nmsg.payload = [{\n    \"series\": [\"A\"],\n    \"data\": [\n        [{ \"x\": 0, \"y\": 28 },\n        { \"x\": 1, \"y\": 372 },\n        { \"x\": 2, \"y\": 350 },\n        { \"x\": 3, \"y\": null },\n        { \"x\": 4, \"y\": null },\n        { \"x\": 5, \"y\": 372 },\n        { \"x\": 6, \"y\": 350 },\n        { \"x\": 7, \"y\": 372 },\n        { \"x\": 8, \"y\": 350 }\n        ]\n    ],\n    \"labels\": [\"\"]\n}];*/\n\nreturn msg;\n ","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1320,"y":920,"wires":[["471d4ca3ec99f943","a970029546486623"]]},{"id":"2824194732916644","type":"inject","z":"f31c3caf13f431a2","name":"","props":[{"p":"payload"},{"p":"path","v":"/home/pi/Documents/logs","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":110,"y":900,"wires":[["0d376860dc0a3bb4"]]},{"id":"aab0f63c7cd4609e","type":"debug","z":"f31c3caf13f431a2","name":"debug 8","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":360,"y":940,"wires":[]},{"id":"57320b619b6eb060","type":"function","z":"f31c3caf13f431a2","name":"Format File Name","func":"let name = \"\"\nmsg.options = [];\nfor(let i=0; i<msg.payload.length; i++) {\n    msg.options.push({ [msg.payload[i].name.replace(/^.*\\//, '')]: msg.payload[i].name });\n    if(i == msg.payload.length - 1) {\n        name = msg.payload[i].name;\n    }\n}\nmsg.payload = name;\nnode.warn(msg.options);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":800,"wires":[["282067711923ee06"]]},{"id":"73873bab087e3f56","type":"debug","z":"f31c3caf13f431a2","name":"debug 9","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":820,"y":940,"wires":[]},{"id":"d0cf0884d7929690","type":"file in","z":"f31c3caf13f431a2","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1140,"y":800,"wires":[["9da11550eef97153"]]},{"id":"0d376860dc0a3bb4","type":"function","z":"f31c3caf13f431a2","name":"File Lister Options","func":"\n\nmsg.payload = {\"start\":msg.path,\"pattern\":\"*.json\",\"folders\":\"!context\"}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":800,"wires":[["d22a68c8613f47cb"]]},{"id":"ffa44ee8b916657f","type":"debug","z":"f31c3caf13f431a2","name":"debug 10","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1620,"y":820,"wires":[]},{"id":"43395b5377d239be","type":"function","z":"f31c3caf13f431a2","name":"jsonParse","func":"\nmsg.payload = [\n    {\n        \"series\": msg.payload.masterTenure.map(x => x.ip),\n        \"data\": msg.payload.masterTenure.map(x => [x.time]),\n        \"labels\": [\"\"]\n    }\n];\n/*\n//Bar chart format:\n[{\n    \"series\": [ \"X\", \"Y\", \"Z\"],\n    \"data\": [ [5], [3], [6] ],\n    \"labels\": [ \"Jan\" ]\n}]\n*/\n\nreturn msg;\n ","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1620,"y":740,"wires":[["ffa44ee8b916657f","fa9512bf6e4764ea"]]},{"id":"3c6fb15263beec99","type":"ui_chart","z":"f31c3caf13f431a2","name":"","group":"b2c890de59ef2bf7","order":0,"width":0,"height":0,"label":"chart","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":810,"y":4700,"wires":[[]]},{"id":"471d4ca3ec99f943","type":"ui_chart","z":"f31c3caf13f431a2","name":"","group":"69a5d78d997598e5","order":2,"width":0,"height":0,"label":"Master Value","chartType":"line","legend":"false","xformat":"ss","interpolate":"monotone","nodata":"","dot":false,"ymin":"0","ymax":"1023","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1e9ab3","#2ba02b","#ff7f0e","#4b5771","#ff9896","#9467bd","#99cca6","#f00f0f","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1550,"y":920,"wires":[[]]},{"id":"fa9512bf6e4764ea","type":"ui_chart","z":"f31c3caf13f431a2","name":"","group":"69a5d78d997598e5","order":3,"width":0,"height":0,"label":"Master Time","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#002e7a","#fecb3e","#00bc92","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1850,"y":740,"wires":[[]]},{"id":"282067711923ee06","type":"ui_dropdown","z":"f31c3caf13f431a2","name":"","label":"","tooltip":"","place":"Select log file","group":"69a5d78d997598e5","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[],"payload":"","topic":"topic","topicType":"msg","className":"","x":850,"y":800,"wires":[["73873bab087e3f56","28b8c4bf399b824a"]]},{"id":"d22a68c8613f47cb","type":"fs-file-lister","z":"f31c3caf13f431a2","name":"","start":"","pattern":"*.json*","folders":"*","hidden":false,"lstype":"files","path":true,"single":true,"depth":0,"stat":true,"showWarnings":true,"x":440,"y":840,"wires":[["aab0f63c7cd4609e","57320b619b6eb060"]]},{"id":"28b8c4bf399b824a","type":"function","z":"f31c3caf13f431a2","name":"Filename","func":"msg.filename = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":800,"wires":[["d0cf0884d7929690"]]},{"id":"b2c890de59ef2bf7","type":"ui_group","name":"Default","tab":"","disp":true,"width":"6","collapse":false,"className":""},{"id":"69a5d78d997598e5","type":"ui_group","name":"HW5","tab":"1ee441622c3059d7","order":1,"disp":true,"width":11,"collapse":false,"className":""},{"id":"1ee441622c3059d7","type":"ui_tab","name":"216_HW_Bar","icon":"dashboard","order":2,"disabled":false,"hidden":false}]
